<h1><%= @user.name %>'s profile <%= link_to 'Edit', edit_user_registration_path, :class => 'btn btn-danger'  %></h1>

<br>

<h3>My photos: <%= link_to 'Create new photo', new_photo_path, :class => 'btn btn-danger' %></h3>